@page
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<style>
    body{
        background-color : #5a5a5a;
        margin:0;
        padding:0;
    }
    .main {
        margin-top : 15%;
    }
    .content {
        position: relative;
        vertical-align: middle;
        width: 100%;
        height: 100%;
        text-align: center;
    }
    .inner {
        margin: 0 auto;
        max-width: 720px;
        padding: 0 30px
    }

    .hero-title {
        color: #fff;
        font-size: 48px;
        padding-bottom: 30px;
        position: relative;
        font-family: 'Playfair Display', serif;
        font-weight: normal;
        line-height: 1.33333;
        margin: 45px 0 30px;
        text-rendering: optimizeLegibility;
    }

    .hero-title:after {
        left: 40%;
        margin-left: -40px;
        background-color: #cd9023;
        bottom: 0;
        content: "";
        height: 2px;
        position: absolute;
        width: 240px;
    }
    .hero-text {
        color: #d4d3d3;
        font-size: 14px;
        letter-spacing: 2px;
        margin-bottom: 45px;
    }
</style>
<body>

    <div class="main">
        <div class="content">
            <div class="inner">
                <h2 class="hero-title">
                    Welcome to CENA FOODIE API <br /> Foods & Drinks Delivery
                </h2>
                <p class="hero-text">©Power by Cena Foodie</p>
            </div>
        </div>
    </div>
    

</body>
</html>